@use '../abstracts' as *;

/* Reset CSS */
*{
	-webkit-tap-highlight-color: transparent;
}

html,
body
{
	scroll-behavior: smooth;
}

body {
	overflow-x: clip;
}

a,
button,
input,
select,
option,
textarea
{
	font: inherit;
	word-wrap: anywhere;
}

a,
button,
input,
select,
textarea
{
	color: inherit;
}

a,
a:hover,
a:focus,
a:active
{
	text-decoration: none;
}

figure {
	margin-bottom: 0;
}

img,
svg
{
	display: block;
	max-width: 100%;
}

img{
	object-fit: cover;
	height: auto;
}

.user-select-none{
	pointer-events: none;
}

.list-inline{
	font-size: 0;
	&-item{
		font-size: 1rem;
	}
}

.text-tertiary {
	color: $color-tertiary;
}

.bg-tertiary {
	background-color: $color-tertiary;
}

.ff-primary {
	font-family: $font-primary;
}

/* Common Section Gap Style */
.section-gap{
	--_section-gap: #{toRem(50)};
	
	@include min-xl{
		--_section-gap: #{toRem(80)};
	}
	
	padding-top: var(--_section-gap);
	padding-bottom: var(--_section-gap);

	&--fix{
		padding-bottom: calc(var(--_section-gap) - $gutter);
	}
}

/* Common Section Heading Style */
.section-header{
	color: $color-primary;
	text-align: center;
	margin-bottom: toRem(20);

	&__title{
		font-size: toRem(30);
		@include min-lg{
			font-size: toRem(40);
		}
		@extend %fw-bold;
	}
}

.match-height > [class*="col"]{
	display: flex;
	flex-flow: column;
}

.match-height > [class*="col"] > *{
	flex: 1 1 auto;
}

.text-underline {
	text-decoration: underline;

	&-hover{
		@extend %text-underline-hover;
	}
}

.u-cover {
	@extend %full-width;
	@extend %select-none;
	z-index: -1;
}

.swiper {
	--swiper-pagination-bullet-border-radius: 0;

	&-slide {
		height: auto;
	}

	&-button {
		--swiper-navigation-size: #{toRem(16)};
		--swiper-navigation-color: #ffffff;
		--swiper-navigation-sides-offset:  #{toRem(-40)};

		background-color: $color-secondary;
		width: toRem(40);
		height: auto;
		aspect-ratio: 1 / 1;
		transition: background-color 0.3s ease;

		&:hover,
		&:focus-visible
		{
			background-color: $color-tertiary;
		}
	}
}