@use '../abstracts' as *;

/* Common Button's Style */
.btn{
	--bs-btn-font-size: #{toRem(18)};
	--bs-btn-padding-x: #{toRem(40)};
	--bs-btn-padding-y: #{toRem(18)};
	--bs-btn-font-weight: 700;
	--bs-btn-line-height: 1;
	box-shadow: none !important;
	@extend %uppercase;
}

.btn-primary{
	--bs-btn-bg: #{$color-secondary};
	--bs-btn-border-color: var(--bs-btn-bg);

	--bs-btn-hover-bg: #{$color-tertiary};
	--bs-btn-hover-border-color: var(--bs-btn-hover-bg);

	--bs-btn-active-bg: #{$color-primary};
	--bs-btn-active-border-color: var(--bs-btn-bg);
}

.scroll-top{
	bottom: toRem(15);
	right: toRem(15);
	display: none;
	cursor: pointer;
	z-index: 7;

	&__btn{
		width: clamp(2rem, 1.7159vw + 1.5817rem, 3.125rem);
		aspect-ratio: 1/1;
		font-size: 1.1rem;
		color: $color-white;
		background-color: $color-tertiary;
	}
}