@use '../abstracts' as *;

/* Common Form's Style */
.form{
    &-control,
    &-select
    {
        --bs-body-bg: #f9f9f9;
        min-height: toRem(50);

        &:focus{
            box-shadow: none;
        }
    }
    &-control{
        --_padding-inline: 0.75rem;
        padding-left: var(--_padding-inline);
        padding-right: var(--_padding-inline);

        &::placeholder{
            opacity: 1;
            color: currentColor;
        }
    }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button
{
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
}

/* Reset autofill input style */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active
{
    box-shadow: 0 0 0px toRem(100) unset inset !important;
    -webkit-text-fill-color: $color-text;
}
input:-internal-autofill-selected {
    appearance: menulist-button;
    background-image: none !important;
    background-color: unset !important;
    color: $color-text !important;
}

/* Reset number input style */
input[type=number] {
    -moz-appearance: textfield;
    appearance: textfield;
}

/* Reset search input style */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration
{
    display: none;
}

select{
    appearance: initial;

    &:focus {
        box-shadow: none;
    }

    &:not(:disabled){
        @extend %cursor-pointer;
    }
}